In [1]:
student={ 
    "name":"Tom",
    "age":20,
    'height': 165.5,
    'maried': False
}

print(student)

{'name': 'Tom', 'age': 20, 'height': 165.5, 'maried': False}

In [4]:
print(student['name'])
print(student['age'])
print(student['height'])
print(student['maried'])

Tom
20
165.5
False

In [5]:
#update values in dictionary
marks={
    'english':90,
    'maths':80,
    'science':70,
    'social':60
}
print(marks)
marks['english']=95
print(marks)

{'english': 90, 'maths': 80, 'science': 70, 'social': 60}
{'english': 95, 'maths': 80, 'science': 70, 'social': 60}

In [6]:
#delete from dictionary
del marks['social']
print(marks)

{'english': 95, 'maths': 80, 'science': 70}

In [7]:
student={ 
    "name":"Tom",
    "age":20,
    'height': 165.5,
    'maried': False
}
marks={
    'english':90,
    'maths':80,
    'science':70,
    'social':60
}

student['marks']=marks

print(student)

{'name': 'Tom', 'age': 20, 'height': 165.5, 'maried': False, 'marks': {'english': 90, 'maths': 80, 'science': 70, 'social': 60}}

In [9]:
student={ 
    "name":"Tom",
    "age":20,
    'height': 165.5,
    'marks':[10,20,30,40]
}

print(student['marks'])
student['marks'][2]=100

print(student['marks'])

[10, 20, 30, 40]
[10, 20, 100, 40]

In [18]:
student={ 
    "name":"Tom",
    "age":20,
    'height': 165.5,
    'marks':[10,20,30,40]
}

data=student.get("test",0) #default value

print(data)


for key in student:
    print(key+": "+str(student[key]))

0
name: Tom
age: 20
height: 165.5
marks: [10, 20, 30, 40]

In [24]:
#sets
numbers={1,2,3,4}
print(numbers)

numbers.add(5)
print(numbers)

numbers.add(1)
print(numbers)

numbers.remove(1)
print(numbers)

{1, 2, 3, 4}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{2, 3, 4, 5}

In [27]:
a={1,2,3,4}
b={1,2}
c={5,6}

big={1,2,3,4,5,6}
small={1,2}

print(a.intersection(b))
print(a.union(c))

print(big.difference(small))

{1, 2}
{1, 2, 3, 4, 5, 6}
{3, 4, 5, 6}

In [31]:
#tuples
student=("Tom",20,165.5,False)

print(student[0])

print(len(student))

Tom
4

TypeError: 'tuple' object does not support item assignment