In [ ]:
#opening a file

file=open("paragraphs.txt","r")  #open paragraph.txt file in read mode

file.close() #close the file

In [1]:
#reading a file
file=open("paragraphs.txt","r")  #open paragraph.txt file in read mode

print(file.read()) #read the file
file.close() #close the file

This is some random  text

line 3
line 4 is here

In [4]:
#read a file line by line
file=open("paragraphs.txt","r")  

i=1
for line in file:
    print(f"{i}: {line}")
    i=i+1

file.close()

1: This is some random  text

2:

3: line 3

4: line 4 is here

In [5]:
#using with to open a file
with open("paragraphs.txt","r") as file:
    print(file.read())

This is some random  text

line 3
line 4 is here

In [7]:
with open("paragraphs.txt","r") as file:
    print(file.read(7))

This is

In [9]:
with open("paragraphs.txt","r") as file:
    file.seek(8) #place my cursor on position 8
    print(file.read(4))

line

In [16]:
#searching a file line by line
def search(filename,keyword):
    i=0
    with open(filename,'r') as file:
        for line in file:
            if keyword in line:
                print(f"{i}: {keyword} found in line: {line}")
            i=i+1


search('paragraphs.txt','some')

0: some found in line: This is some random  text

3: some found in line: line 4 is here some

In [18]:
#very basic sarch to check if keyword in file
keyword='some'
filename='paragraphs.txt'
with open(filename,'r') as file:
    if keyword in file.read():
        print(f"{keyword} found in file")

some found in file

In [23]:
#writing a file
file=open("names.txt","w")
file.write("Tom\n")
file.write("Pierre")

file.close() #close the file (otherwise it will not be saved)

In [25]:
#append to the file

file=open("names.txt","a")
file.write('Jack\n')
file.write('John\n')

file.close()

In [26]:
with open("names.txt","a") as file:
    file.write('nirmal\n')
    file.write('kumar\n')

In [30]:
#removing content
delete_word='Jack'

lines=[]
with open("names.txt","r") as file:
    for line in file:
        if delete_word not in line:
            lines.append(line)

print(lines)

with open("names.txt","w") as file:
    for line in lines:
        file.write(line)

['Tom\n', 'Pierre\n', 'nirmal\n', 'kumar\n']

In [33]:
#convert inventory file to dictionary

inventory={}
with open("inventory.txt","r") as file:

    for line in file:
        data=line.split(',')
        print(data)
        item_name=data[0].strip()
        item_price=data[1].strip()
        inventory[item_name]=item_price

print(inventory)

['cheese', '50.00\n']
['milk', '220.00\n']
['rice', '340.00\n']
['apple', '15.00\n']
['banana', '5.00']
{'cheese': '50.00', 'milk': '220.00', 'rice': '340.00', 'apple': '15.00', 'banana': '5.00'}

In [42]:
names={
    'Tom': 20,
    'John': 30,
    'Jack': 40
}

with open('ages.txt','w') as file:
    for key in names:
        file.write(f'{key},{names[key]}\n')

In [35]:
import numpy as np
import pandas as pd


content=pd.read_csv("housing.csv")

print(content.head)

<bound method NDFrame.head of            code                  area        date  median_salary  \
0     E09000001        city of london  1999-12-01        33020.0
1     E09000002  barking and dagenham  1999-12-01        21480.0
2     E09000003                barnet  1999-12-01        19568.0
3     E09000004                bexley  1999-12-01        18621.0
4     E09000005                 brent  1999-12-01        18532.0
...         ...                   ...         ...            ...
1066  K03000001         great britain  2019-12-01        30446.0
1067  K04000001     england and wales  2019-12-01        30500.0
1068  N92000002      northern ireland  2019-12-01        27434.0
1069  S92000003              scotland  2019-12-01        30000.0
1070  W92000004                 wales  2019-12-01        27500.0

      life_satisfaction mean_salary recycling_pct  population_size  \
0                   NaN       48922             0           6581.0
1                   NaN       23620             3         162444.0
2                   NaN       23128             8         313469.0
3                   NaN       21386            18         217458.0
4                   NaN       20911             6         260317.0
...                 ...         ...           ...              ...
1066                NaN       37603           NaN              NaN
1067                NaN       37865           NaN              NaN
1068                NaN       32083           NaN              NaN
1069                NaN       34916           NaN              NaN
1070                NaN       31251           NaN              NaN

      number_of_jobs  area_size  no_of_houses  borough_flag
0                NaN        NaN           NaN             1
1                NaN        NaN           NaN             1
2                NaN        NaN           NaN             1
3                NaN        NaN           NaN             1
4                NaN        NaN           NaN             1
...              ...        ...           ...           ...
1066             NaN        NaN           NaN             0
1067             NaN        NaN           NaN             0
1068             NaN        NaN           NaN             0
1069             NaN        NaN           NaN             0
1070             NaN        NaN           NaN             0

[1071 rows x 12 columns]>

In [37]:
print(content.describe())

       median_salary  life_satisfaction  population_size  number_of_jobs  \
count    1049.000000         352.000000     1.018000e+03    9.310000e+02
mean    27977.792183           7.485057     6.042576e+06    3.188095e+06
std      6412.807487           0.198451     1.526810e+07    8.058302e+06
min     15684.000000           7.000000     6.581000e+03    4.700000e+04
25%     23857.000000           7.350000     2.243458e+05    9.450000e+04
50%     27441.000000           7.510000     2.946035e+05    1.570000e+05
75%     30932.000000           7.640000     4.630098e+06    2.217000e+06
max     61636.000000           7.960000     6.643555e+07    3.575000e+07

          area_size  no_of_houses  borough_flag
count  6.660000e+02  6.660000e+02   1071.000000
mean   3.724903e+05  8.814682e+05      0.647059
std    2.157060e+06  3.690376e+06      0.478108
min    3.150000e+02  5.009000e+03      0.000000
25%    2.960000e+03  8.763550e+04      0.000000
50%    4.323000e+03  1.024020e+05      1.000000
75%    8.220000e+03  1.262760e+05      1.000000
max    1.330373e+07  2.417217e+07      1.000000

In [38]:
print(content.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1071 entries, 0 to 1070
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   code               1071 non-null   object
 1   area               1071 non-null   object
 2   date               1071 non-null   object
 3   median_salary      1049 non-null   float64
 4   life_satisfaction  352 non-null    float64
 5   mean_salary        1071 non-null   object
 6   recycling_pct      860 non-null    object
 7   population_size    1018 non-null   float64
 8   number_of_jobs     931 non-null    float64
 9   area_size          666 non-null    float64
 10  no_of_houses       666 non-null    float64
 11  borough_flag       1071 non-null   int64
dtypes: float64(6), int64(1), object(5)
memory usage: 100.5+ KB
None

In [43]:
file=open('abce.txt','r') #errror file not found

FileNotFoundError: [Errno 2] No such file or directory: 'abce.txt'