In [5]:
#inputs
num_subjects=int(input("Enter the number of subjects: "))

marks={}
for i in range(num_subjects):
    subject=input("Enter subject name: ")
    mark=int(input("Enter marks: "))
    marks[subject]=mark

#calculating the average
total=0
for key in marks:
    value=marks[key]
    total=total+value

average=total/num_subjects


#displaying the result
for key in marks:
    print(f"{key}: {marks[key]}")

maths: 40
french: 50
chinese: 70

In [39]:
def inputs():#inputs
    num_subjects=int(input("Enter the number of subjects: "))

    marks={}
    for i in range(num_subjects):
        subject=input("Enter subject name: ")
        mark=int(input("Enter marks: "))
        marks[subject]=mark

    return [num_subjects,marks]

def average(marks,num_subjects=1):
    total=0
    for key in marks:
        value=marks[key]
        total=total+value

    average=total/num_subjects
    return average

def result(marks):
    for key in marks:
        print(f"{key}: {marks[key]}")
    
#main program 
num_subjects,marks=inputs()
average=average(marks,num_subjects)
result(marks)

english: 10
french : 10
maths : 0

In [24]:
def test():  #function definition
    print("hello")


test()  #function call


print("--------")
test()
test()

for i in range(5):
    test()

hello
--------
hello
hello
hello
hello
hello
hello
hello

In [26]:
def test():
    return "abcd"


result=test()
print(result)

abcd

In [28]:
#functions
def add(number1,number2): #function parameters
    return number1+number2

#main program

sum=add(10,10)
print(sum)

20

In [29]:
data="test"

print(data*4)

testtesttesttest

In [36]:
def repeat(data,num=1): #default parameter num
    print(data*num)

repeat("test",2)

repeat("test")

testtest
test

In [37]:
def average(sum,num_subjects):
    return sum/num_subjects

sum= lambda a,b : a+b

average(sum(1,2),num_subjects=2)

1.5

In [47]:
def sum(*num):
    total=0
    for i in num:
        total=total+i
    return total

sum(1)
sum(1,2,3)

6

In [48]:
def average_rainfall(**months):
    total=0
    for key in months:
        total=total+months[key]
    return total/len(months)

average_rainfall(feb=20,jan=10,mar=30)

20.0

In [49]:
def average_rainfall(*additional,**months):
    total=0
    for key in months:
        total=total+months[key]
    for i in additional:
        total=total+i
    
    print(months.keys())
    return total/len(months)

   


average_rainfall(30,27,27,26,jan=10,feb=20,mar=30)

dict_keys(['jan', 'feb', 'mar'])

56.666666666666664

In [56]:
import numpy as np

def average(*numbers, **specific):
    temp=list(numbers)
    list.append(temp,specific.values())
    return np.average(numbers)

average(10,20,30,40,50,imp=60)

30.0