In [11]:
# this program displays some text
# comment 2
# comment 3
print("Hello world") #display hello world

#multiline comment

Hello world

'\nthis is a multiline comment\n'

In [4]:
print("hello")
print("My name's Nirmal")

hello
My name's Nirmal

In [16]:
name = "Nirmal"


print("Nirmal")
print(10)
print(True)

age = 10
print(age)

Nirmal
10
True
10

In [20]:
#integers
number=10
print(number)
number=20
print(number)

number=-100000
print(number)

number=0

print(number)

10
20
-100000
0

In [25]:
#floating points (floats)

total=1000.50

total=1000.00

total=135.4564000000

total=65.001

total = -567.89
print(total)

-567.89

In [35]:
#strings

name="Nirmal"
name="A"

name='Paul'

sentence='this is a sentence 1234 &$'


paragraph = "My name is John. \nI am 100 years old. \n\tI live in London."




print(name)
print(sentence)

print(paragraph)

Paul
this is a sentence 1234 &$
My name is John.
I am 100 years old.
	I live in London.

In [36]:
#boolean

paid = True #represented by 1
paid = False #represented by 0

print(paid)

False

In [38]:
total = 100

total2=200

tot2al=300

# 5total= 1000 #variable name cannot start with a number

# total$=200

total_5=1000

print(total_5)

1000

In [ ]:
#constants
PI=3.14

In [47]:
#casting (changing data types)
total=1000.50

print(type(total))

total= int(total)
print(total)

paid=1
paid= bool(paid)

print(paid)

print(type(paid))


total="1000"

print(type(total))

print(total)
total= int(total)
print(total)

print(type(total))

<class 'float'>
1000
True
<class 'bool'>
<class 'str'>
1000
1000
<class 'int'>

In [56]:
#output
print("Hi my name is Nirmal")

cat="Jeff"
# print(cat)


print("The cats name is")
print(cat)


print("The cats name is " + cat)


print("The cats name is " + cat + " and the mans name is "+ name)

Hi my name is Nirmal
The cats name is
Jeff
The cats name is Jeff
The cats name is Jeff and the mans name is Paul

In [65]:
name="John"
age=40

# print("Name is "+ name +" and his age is "+ str(age))

# print("Name is {} and his age is {}".format(name,age) )

print(f'Name is {name} and age is {age}')

Name is John and age is 40

In [66]:
#inputs

name=input("Please enter your name: ")

print(name)

test

In [72]:
age=input('Enter your age')

age=int(age)


age=age+1

print(age)

11

In [75]:
#operations
num1=10
num2=5

print(num1+num2)
print(num1-num2)

print(num1*num2)
print(num1/num2)

print(10*2.0)

15
5
50
2.0
20.0

In [77]:
result= 10+30/(5*6)
 #BODMAS

print(result)

11.0

In [81]:
#repeating strings

data="test"

print(data*4)

testtesttesttest